<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258722761535-ej7svoa50mgmk31djls70c9fntv2fteq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258722761535-ej7svoa50mgmk31djls70c9fntv2fteq</string>
	<key>API_KEY</key>
	<string>AIzaSyAmFoav_qke8MlE6TW1oIyPYHVRkbGURRo</string>
	<key>GCM_SENDER_ID</key>
	<string>258722761535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsTime</string>
	<key>PROJECT_ID</key>
	<string>newstime-cc7c3</string>
	<key>STORAGE_BUCKET</key>
	<string>newstime-cc7c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258722761535:ios:5fd6ed41845252f2baa18a</string>
</dict>
</plist>